:root {
  --black: #151515;
  --white: #f6f7f8;
  --red: #dc1b1b;
  --green: #17c717;
  --yellow: #e3e309;
  --blue: #1e3ada;
  --blue-opacity-75: rgba(30, 58, 220, 0.75);
}

.btn-back {
  background-image: linear-gradient(
    to right,
    #feac5e 0%,
    #c779d0 51%,
    #feac5e 100%
  );
  color: var(--white);
  width: 10em;
  height: 2em;
  line-height: 25px;
  text-align: center;
  border-radius: 0.8em;
  position: absolute;
  bottom: 1em;
  left: 0.9em;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-back span {
  font-size: 1.5em;
}
