* {
  font-family: "Inconsolata", monospace;
}

body {
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  height: auto;
  margin-top: 8em;
  /* flex-box */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

article {
  width: 40vw;
  border-radius: 0.5em;
  padding: 1em;
  -webkit-box-shadow: -1px 3px 15px -4px rgba(19, 19, 22, 1);
  -moz-box-shadow: -1px 3px 15px -4px rgba(19, 19, 22, 1);
  box-shadow: -1px 3px 15px -4px rgba(19, 19, 22, 1);
}

.bar-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 1.5em;
  margin-bottom: 1.2em;
}

.btn {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: 0.4em;
}

.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--green);
}
.bg-yellow {
  background-color: var(--yellow);
}

.bg-gradient {
  background: linear-gradient(270deg, #f7c914, #bf08df);
  background-size: 300% 300%;

  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.bg-black {
  background-color: var(--black);
}

.path {
  color: var(--white);
  font-size: clamp(.9rem, 1.2vw, 2rem);
}

.tree,
.tree ul,
.tree li {
  position: relative;
}

.tree {
  /* margin-left: 1em; */
}

.tree ul {
  list-style: none;
  margin-top: 0;
}

.tree li::before,
.tree li::after {
  content: " ";
  position: absolute;
  left: -1.5em;
}

.tree li::before {
  border-top: 0.1em solid var(--white);
  top: 0.5em;
  width: 1.2em;
}

.tree li::after {
  border-left: 0.1em solid var(--white);
  height: 100%;
  top: 0;
}

.tree ul > li:last-child::after {
  height: 0.5em;
}

li {
  color: var(--white);
}

li,
a {
  font-size: clamp(.9rem, 1.2vw, 2rem);
  font-weight: 400;
}

a {
  color: var(--purple-opacity-75);
  text-decoration: none;
}

a:hover {
  color: var(--purple);
}

@media (max-width: 370px) {
  article {
    width: 80vw;
  }

  header h1 {
    font-size: 2.5em;
  }
}
